body{
    background: rgb(160, 126, 255);
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #ffee00;
    text-decoration: wavy underline;
    text-align: end;
}
#div1{
    margin: 20px 60px;
    padding: 20px;
    background-color: #8cc686;
}
#div2{
    margin: 100px 80px;
    padding: 60px;
    background-color: #5ecde8;
    color: #e7d800;
    text-decoration: wavy underline;
    text-align: center;
    font-size: 25px;
}
